/* .css-11a8txn-MuiStack-root{
  justify-content: center;
}
.css-1rv8zyt-MuiStack-root{

 
} */

.container{
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
 .first{ 
  padding: 5px;
  margin: 2px;
   border: 2px solid black;
  }

 .css-i5q14k-MuiDayCalendar-header{
  background-color: orange;
} 
/* .css-11a8txn-MuiStack-root{

}
.css-1rtg91x-MuiDateCalendar-root{
  margin: 20px;
  background-color: yellow;
   display: block;
  margin: auto; 
}  */

.child{
  display: flex;
  justify-content: space-between;
  margin: 2px;
}


